header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #1f1f1f;
    color: #f6f6f6;
    position: sticky;
    top: 0;
    nav{
        .navbar{
            @include flex(row, center, center, 2.5rem);
            padding-right: 30px;
            list-style: none;
            background-color: #1f1f1f;
            li{
                a{
                    text-decoration: none;
                    
                    color: #f6f6f6;
                    background-color: #1f1f1f;
                    &:hover{
                        color: #d9f17f;;
                    }
                }
            }
        }
    }
}

